# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/ # پوشه محیط مجازی

# --------------------
# Django
# --------------------
# دیتابیس لوکال
db.sqlite3

# فایل‌های مدیای آپلود شده توسط کاربر
/media/ 

# فایل‌های استاتیک جمع‌آوری شده
/static/

# فایل‌های تنظیمات محرمانه (اگر برای SECRET_KEY استفاده شود)
local_settings.py
.env

# --------------------
# IDE / OS
# --------------------
# فایل‌های سیستم عامل مک
.DS_Store

# پوشه‌های PyCharm/VS Code
.idea/
.vscode/

# لاگ‌ها
*.log
