{% extends 'blog/base.html' %}
{% block content %}
    <head>درباره من</head>
    <h1>از من بیشتر بدونین</h1>
    <p>
        من مبینم؛ یه گیک و عاشق تکنولوژی؛ یه خبرنگار و البته یه بچه برنامه نویسم
    </p>
    <p>
        این هم اولین سایت من هس که با جنگو درستش کردم؛ درسته شاید خیلی ساده به نظر برسه ولی خودم خیلی دوستش دارم
    </p>
    <p>
        البته قبلا هم یه ربات تلگرامی ساخته بودم که هر دوی این ها توی گیت هابم هس و میتونین به اونجا سر بزنین...البته راهای دیگه ای هم هس واسه ارتباط با من که این پایین آوردم
    </p>
    <h2>
        ارتباط با من
    </h2>
    <p><a href="https://github.com/Mobinsadeqian/">گیت هاب </a></p>
    <p><a href="https://x.com/mobinsadeqian">ایکس</a></p>
    <p><a href="@Mobinsadeqian">تلگرام</a></p>
    <P><a href="mobinsadeghian2003@gmail.com">ایمیل</a></P>
{% endblock %}    